* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a72525ff;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #ffa700ff;
    padding: 60px 0 60px 10px;
}

.header h1 {
    color: #000000ff;
}

.content {
    width: 500px;
    background-color: #ffc1ccff;
    margin: 40px 0 20px 43%;
}

.date {
    font-size: 14px;
}

.post {
    padding: 20px;
    margin-bottom: 40px;
    border: 3px solid white;
}

.post h2 {
    margin: 7px 0;
}

.post h2 a {
    color: #ffa71dff;
    text-decoration: underline;
    text-underline-offset: 3px;
}

footer {
    background-color: #ffa700ff;
    height: 80px;
}